@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["ReturnUrl"] = "/Home/post";

}
<form asp-controller="Account" asp-action="Login"
      asp-route-returnurl="@ViewData["ReturnUrl"]"
      method="post" class="form-horizontal" role="form">
    
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</form>
